body{
    text-align: center;

    font-family:Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    color:rgb(196, 228, 255);
=======
    color:red;
>>>>>>> 49e87b5d1d3d56ea7ebbbddb5ca377aecf107fa2
}

p{
    font-weight: bolder;
    color: brown;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(93, 93, 134);
}

#cabecera{
<<<<<<< HEAD
    background-color: aqua;
=======
    background: aqua url("logo.png");
    margin-bottom: 200px;
>>>>>>> 49e87b5d1d3d56ea7ebbbddb5ca377aecf107fa2

}